<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>七星博士后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/backstage.css">

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/daterangepicker-bs2.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/daterangepicker-bs3.css" />

    <script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/moment.js"></script>
    <script type="text/javascript" src="/javascripts/daterangepicker.js"></script>
    <script type="text/javascript" src="/libs/layer/layer.js"></script>
</head>

<body>
<div class="layout clearfix">

    <div class="bs_left">
        <div class="logo"><a href="http://www.7drlb.com/index.php" target="_blank"><img src="/images/logo.png" /></a> </div>
        <ul class="menu">
            <li class="clearfix"><a href="/version/list" <% if(page == "version"){ %>class="on"<% } %>><img src="/images/ico_rocket.png" />版本更新</a></li>
            <li class="clearfix"><a href="/device/list" <% if(page == "device"){ %>class="on"<% } %>><img src="/images/ico_monitor.png" />机器列表</a></li>
            <li class="clearfix"><a href="/device_type/list" <% if(page == "device_type"){ %>class="on"<% } %>><img src="/images/ico_machine.png" />型号预设</a></li>
            <li class="clearfix"><a href="/data/list" <% if(page == "data"){ %>class="on"<% } %>><img src="/images/ico_data.png" />测试数据</a></li>
            <!-- <li class="clearfix"><a href="#.html"><img src="/images/ico_setup.png" />机器设定</a></li> -->
        </ul>
    </div>

    <div class="bs_right">
        <ul class="nav clearfix">
            <li class="col-8">
                <div class="search1">
                    <input type="text"/><a class="search_go" href="#"><img src="/images/ico_search.png" /></a>
                </div>
            </li>
            <li class="col-4 clearfix">
                <a href="#" class="user_pic">
                    <img src="/images/avatar.jpg" />
                </a>
                <div class="user_name">
                    <span><%= user.nickname %></span>
                    <a href="/user/logout">退出登录</a>
                </div>
            </li>
        </ul>