<%- include layouts/header.ejs %>

<h3 class="title1 clearfix">条件搜索</h3>

<ul class="search2">

    <li class="clearfix">
        <p class="col-2">MAC搜索</p>
        <p class="col-10"><input type="text" class="key_in"/></p>
    </li>
    <li><button href="#" class="btn_search">搜索</button></li>

</ul>

<h3 class="title1 clearfix">
    <div class="buttons clearfix">
        <a href="#" id="btnImport">批量导出</a>
        <a href="#" id="btnExport">批量导入</a>
        <a href="javascript:void(0);" id="btnAddDeviceType">添加</a>
    </div>设备列表</h3>

<ul class="list1 t_center">
    <li class="clearfix top">
        <p class="col-6">MAC地址</p>
        <p class="col-4">类别</p>
        <p class="col-2">操作</p>
    </li>

    <% for(var i in device_type) { %>

        <li class="clearfix">
            <p class="col-6"><%= device_type[i].mac %></p>
            <p class="col-4"><% if(device_type[i].type == 1) { %>主机<% } else { %>从机<% } %></p>
            <p class="col-2"><a href="javascript:void(0)" onclick="deleteRow('<%= device_type[i].mac %>');">删除</a></p>
        </li>

    <% } %>

</ul>

</div>

</div>

<%- include layouts/footer.ejs %>
</body>

<script>
    $(function() {
        $("#btnAddDeviceType").click(function() {
            $.get("/device_type/add", function(html) {
                layer.open({
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['800px', '450px'], //宽高
                    content: html
                });
            });
        });

        $("#btnImport").click(function() {
            layer.msg("开发中，请耐心等待");
        });

        $("#btnExport").click(function() {
            layer.msg("开发中，请耐心等待");
        });
    });

    function deleteRow(mac) {
        layer.confirm('确定要删除该机器吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.post("/device_type/delete", {mac: mac}, function(data) {
                window.location.href = "/device_type/list";
            });
        }, function(){

        });
    }
</script>