<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>七星博士后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/backstage.css">
</head>

<body class="login_bg">
<h2 class="login_t">七星博士后台注册</h2>
<ul class="login_box">
    <li><p>邮箱</p>
        <input type="text" value=""/>
    </li>
    <li><p>密码</p>
        <input type="password"/>
    </li>
    <li><p>确认密码</p>
        <input type="password"/>
    </li>
    <li class="clearfix"><button class="f_left" onclick="javascript:window.location.href='index.html';">注册</button></li>
</ul>

<div class="footer">苏ICP备16043018号-1 版权所有 © 昆山市七星博士环境科技股份有限公司</div>

</body>
</html>