<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>七星博士后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/backstage.css">
</head>

<body class="login_bg">
<h2 class="login_t">环境数后台注册</h2>
<ul class="login_box">
    <li><p>账户</p>
        <input type="text" placeholder="请输入手机号码"/>
    </li>
    <li><p>昵称</p>
        <input type="text" placeholder="请输入用户昵称"/>
    </li>
    <li><p>密码</p>
        <input type="password" placeholder="请输入登录密码"/>
    </li>
    <li><p>确认密码</p>
        <input type="password" placeholder="请再次输入密码"/>
    </li>
    <li class="clearfix"><button class="f_left" onclick="javascript:window.location.href='index.html';">注册</button></li>
</ul>
<%- include layouts/footer.ejs %>
</body>
</html>