<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>七星博士后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/backstage.css">
</head>

<body>
<div class="pop">
    <h3 class="pop_t">上传新版本</h3>
    <ul class="pop_c clearfix">

        <li class="clearfix">
            <p class="col-2">选择类别</p>
            <p class="col-4">
                <select class="select1">
                    <option value="1">标题一</option>
                </select>
            </p>
            <p class="col-2 p_l_left">版本</p>
            <p class="col-4">
                <input type="text"/>
            </p>
        </li>

        <li class="clearfix">
            <p class="col-2">上传文件</p>
            <div class="col-10 up_box">

                <a class="pop_btn_up">选择文件<input type="file" class="pop_file"/></a>

                <div class="pop_up_speed">
                    <p class="pop_up_name">xxx.xx（1.26M）</p>
                    <div class="pop_up_bar"><span style="width:50%">&nbsp</span></div>
                </div>

                <div class="pop_up_speed">
                    <p class="pop_up_finish">xxx.xx（1.26M）上传完成！<a href="#"><img src="/images/ico_delete2.png" /></a></p>
                    <div class="pop_up_bar"><span style="width:100%">&nbsp</span></div>
                </div>

            </div>

        </li>

        <li class="clearfix">
            <p class="col-2">更新日志</p>
            <p class="col-10">
                <textarea rows="3"/>系统</textarea>
                <textarea rows="1"/>WLAN</textarea>
                <textarea rows="1"/>版本</textarea>
            </p>
        </li>

    </ul>

    <div class="pop_f clearfix"><button class="pop_btn_ok">保存并上传</button><button class="pop_btn_cancel">取消</button></div>

</div>

</body>
</html>